body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav .navbar-brand{
    font-weight: bold;
}

nav .how-it-works{
    font-size: large;
    font-weight: bold;
    color : #2563eb;
}

nav .how-it-works:hover{
    border-bottom: 1px solid black;
}

/* main function design */
.challenge-msg {

    border-radius: 1.5rem;
    font-weight: 900;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: 0.5rem 1.25rem;
    letter-spacing: 0.025em;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.challenge-msg:hover {
    background-color: #d2dcec; /* nice blue on hover */
    color: #2563eb;
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}